﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.profile-rating-total-star {
    width: 50%;
    float: left
}

.profile-rating-total-rating {
    width: 50%;
    float: right;
}

.profile-table-avatar {
    height: 100%;
    width: 100%;
    display: table;
}

.profile-avatar {
    text-align: center;
}

.profile-avatar-block {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    display: table-cell;
    vertical-align: middle;
}

.profile-block {
    padding-top: 30px;
}

.profile-links-block {
    width: 100%;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

    .profile-links-block ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .profile-links-block ul li {
            text-align: center;
            margin-bottom: 10px;
        }

            .profile-links-block ul li a {
                width: 100%;
                background: #eaeaff;
                padding: 8px;
                font-family: "RobotoLight", sans-serif;
                font-size: 15px;
                color: #8691A7;
                text-decoration: none;
                display: block;
                border-radius: 4px;
                cursor: pointer;
            }

.profile-avatar img {
    width: 300px;
    height: 300px;
    vertical-align: middle;
    border-radius: 50%;
}



.profile-username {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #e2e8e9;
    padding: 10px 20px 10px 20px;
    color: #6a6a6a;
    background: #fbfbfb;
    min-height: 50px;
}

.profile-rating-total {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #e2e8e9;
    padding: 10px 20px 10px 20px;
    color: #6a6a6a;
    background: #fbfbfb;
    min-height: 50px;
    text-align: center;
}

.profile-info-passenger-td {
    padding: 20px 20px 15px 20px;
}

profile-info-passenger {
    background-color: #ffffff;
    border-radius: 3px;
    height: 400px;
}

.profile-info-passenger table {
    width: 100%;
}

    .profile-info-passenger table tr {
        border-bottom: 1px solid #f4f6f7;
    }

    .profile-info-passenger table td {
        padding: 15px 20px 15px 20px;
    }

.profile-table {
    background-color: #ffffff;
    border-radius: 3px;
    height: 400px;
}

.profile-info table {
    width: 100%;
}

    .profile-info table tr {
        border-bottom: 1px solid #f4f6f7;
    }

    .profile-info table td {
        padding: 8px 20px 8px 20px;
    }

.profile-info-i-td {
    width: 50%;
}

.profile-review {
    padding-top: 30px;
}

.rating-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}

.bold {
    font-weight: 700;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.review-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.review-block-name {
    font-size: 15px;
    font-weight: 700;
}

.review-block-date {
    font-size: 14px;
    text-align: right;
    font-weight: 700;
}

.review-block-rate {
    font-size: 13px;
    margin-bottom: 6px;
}

.review-block-description {
    font-size: 15px;
    font-weight: 700;
}

.some-class {
    padding-left: 0px;
}

.img-rating-profile {
    max-height: 56px;
    max-width: 56px;
    width: 100%;
}

.rating-avatar-block {
    height: 80px;
    display: table;
}

.rating-avatar {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.star-total-rating {
    color: #ff2500;
    font-size: 20px;
}

.star-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.stars {
    display: inline-block;
    font-size: 25px;
    position: relative;
    color: #ff2500;
}


[title="1"] {
    width: 20%;
}

[title="2"] {
    width: 40%;
}

[title="3"] {
    width: 60%;
}

[title="4"] {
    width: 80%;
}

[title="5"] {
    width: 100%;
}

.stars:after {
    content: "☆☆☆☆☆";
}

.stars span {
    display: block;
    position: absolute;
    overflow: hidden;
}

    .stars span:after {
        content: "★★★★★";
    }


osnova a {
    text-decoration: none;
    color: white;
}

.osnova p {
    margin: 0;
}

a.button {
    padding: 10px 30px;
    background-color: rgb(72, 194, 72);
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(31, 100, 40, 0.849);
}

    a.button:hover {
        background-color: rgb(59, 156, 59);
        box-shadow: 2px 2px 2px rgba(42, 129, 54, 0.849);
    }


.search-form {
    text-align: center;
    padding: 0 30px 0 30px;
    border-right: 2px solid #EFEFEF;
}

    .search-form input {
        font-size: 16px;
        padding: 10px;
        width: 300px;
        border-radius: 3px;
        margin: 0;
    }

.osnova h3 {
    margin: 0;
    display: inline-block;
}

.osnova ol {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.price {
    float: right;
}


.image-osnova {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
}

.road {
    border-right: 2px solid #EFEFEF;
    padding-right: 10px;
}

.driver {
    border-left: 2px solid #EFEFEF;
    padding-left: 10px;
    height: 100%;
}

.trip {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.trip-no-seats {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: 0.3;
}

.wanna-ride {
    padding-top: 10px;
}

    .wanna-ride button {
        width: 100%;
    }

    

.passenger{
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 10px;
}


.card{
    display: inline-block;
    text-align: center;
}

.car{
    display: inline-block;
    list-style-type: none;
}

.information{
    list-style-type: none;
}

.chauffeur h4{
    margin: 0;
    padding-bottom: 10px; 
}

.btn-success{
    padding: 10px 30px;
    margin: 10px;
}

.activ{
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
}


.activ ol{
    list-style-type: none;
    padding: 0;
}

.companion{
    display: inline-block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid rgb(226, 226, 226);
    background-color: #ffffff;
    width: 271px;


}

.companion img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.companion p{
    display: inline-block;
    padding: 0;
    padding-bottom: 15px;
}

.companion a{
    text-decoration: none;
    color: rgb(179, 71, 71);
    font-size: 22px;
}

.ride-history-button {
   
    padding: 5px;
}
.ride-history-button a{
           text-decoration: none;
}

.ride-link {
    text-decoration: none;
}




.btn-accept {
    height: 34px;
    margin: 0;
    padding: 0;
    color: #fff
}

.btn-in-ride {
    max-height: 34px;
}

.btn-status {
    margin: 0px;
    width: 117px;
    height: 42px;
}

.request-status h4 {
    margin: 0;
}

.image-request {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}