﻿@model CarSharing.Web.Models.RideEditViewModel

@{
    @Resources.Resource.Delete
}

<h2>@Resources.Resource.Delete</h2>

<h3>@Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContributionPerHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContributionPerHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuggageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuggageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Resource.Delete" class="btn btn-default" /> |
        </div>
    }
</div>
