﻿@model CarSharing.Web.Models.RideDetailViewModel

@{
    ViewBag.Title = @Resources.Resource.Details;
}


<div class="row profile-block">
    <div class="col-md-4">
        <div class="profile-table">
            <div class="profile-table-avatar">
                <div class="profile-avatar-block">
                    <div class="profile-avatar">
                        <a href="@Url.Action("Profile", "Driver", new { id = Model.Driver.Username})">
                            <img src="@Model.Driver.ProfileImage" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="profile-rating-total">
            <div class="profile-rating-total-star">
                @Html.DisplayFor(model => model.SourceCity) - @Html.DisplayFor(model => model.DestinationCity)
            </div>
            <div class="profile-rating-total-rating">
                @Html.DisplayNameFor(model => model.AvailableSeats): @Html.DisplayFor(model => model.AvailableSeats) / @Html.DisplayFor(model => model.Seats)
            </div>
        </div>
        <div class="profile-info">
            <table>
                <tbody>
                <tr>
                    <td>@Html.DisplayName(@Resources.Resource.Driver)</td>
                    <td>@Html.DisplayFor(model => model.Driver.FirstName) @Html.DisplayFor(model => model.Driver.LastName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Driver.ContactNumber)</td>
                    <td>@Html.DisplayFor(model => model.Driver.ContactNumber)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Driver.Years)</td>
                    <td>@Html.DisplayFor(model => model.Driver.Years)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Driver.CarMake)</td>
                    <td>@Html.DisplayFor(model => model.Driver.CarMake)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Driver.CarModel)</td>
                    <td>@Html.DisplayFor(model => model.Driver.CarModel)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Driver.CarColor)</td>
                    <td>@Html.DisplayFor(model => model.Driver.CarColor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.StartTime)</td>
                    <td>@Html.DisplayFor(model => model.StartTime) - @Html.DisplayFor(model => model.EndTime) </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Description)</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                </tbody>
            </table>
            <div class="profile-rating-total">
                @if (Model.Driver.TimesRated == 0)
                {
                    <span>----</span>
                }
                else
                {
                    <div class="profile-rating-total-star">
                        <span class="star-total-rating glyphicon glyphicon-star"></span>
                        <span>@Html.DisplayFor(model => model.Driver.TotalRating)</span>
                    </div>
                    <div class="profile-rating-total-rating">
                        <span>@Html.DisplayNameFor(model => model.Driver.TimesRated)</span>
                        <span>@Html.DisplayFor(model => model.Driver.TimesRated)</span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("Passenger"))
{
    <div class="wanna-ride">
        @if (Model.AvailableSeats != 0)
        {
            <a href="@Url.Action("Create", "Request", new {id = Model.Id})">
                <button type="button" class="btn btn-default">@Resources.Resource.RequestARide</button>
            </a>
        }
        else
        {
            <button type="button" disabled="" class="btn btn-default">Машина заполнена</button>
        }
    </div>
    <hr>
}

<div class="container">
    <h3>@Resources.Resource.Passengers</h3>
    @foreach (var request in Model.Requests)
    {
        <div class="passenger">
            <a href="@Url.Action("Profile", "Passenger", new { id = request.Passenger.Username})">
                <img class="img-circle" height="80" width="80 " src="@request.Passenger.ProfileImage">
                <h4>@Html.DisplayFor(model => request.Passenger.FirstName), @Html.DisplayFor(model => request.Passenger.Years)</h4>
            </a>
            <span class="star-total-rating glyphicon glyphicon-star"></span>
            <span>@Html.DisplayFor(model => request.Passenger.TotalRating) @Html.DisplayNameFor(model => request.Passenger.TimesRated) : @Html.DisplayFor(model => request.Passenger.TimesRated)</span>
        </div>
    }
</div>