﻿@model IEnumerable<CarSharing.Web.Models.RideViewModel>

@{
    ViewBag.Title = @Resources.Resource.Rides;
}
<br/>

<br />
            <div class="osnova">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="get">
                                <div class="search-form">
                                    <p><input type="text" name="sourceCity" maxlength="25" size="30" required placeholder="@Resources.Resource.SourceCity"></p>
                                    <br>
                                    <p><input type="text" maxlength="25" name="destinationCity" size="30" required placeholder=" @Resources.Resource.DestinationCity"></p>
                                    <br>
                                    <p><input type="date" name="startDate" maxlength="25" size="30"></p>
                                    <br>
                                    <input type="submit" value="@Resources.Resource.Search" class="btn btn-default" onclick="this.form.submit()" />
                                </div>
                            </form>
                        </div>

                        <div class="col-md-8">
                            @foreach (var item in Model)
                            {
                                if (item.AvailableSeats != 0)
                                {
                                    <a href="@Url.Action("Details", "Ride", new {id = item.Id})">
                                        <div class="trip">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="road">
                                                        <h3>@Html.DisplayFor(modelItem => item.SourceCity) - @Html.DisplayFor(modelItem => item.DestinationCity)</h3>
                                                        <p class="price">@Html.DisplayFor(modelItem => item.ContributionPerHead) BYR</p>
                                                        <ol>
                                                            <li>@Resources.Resource.AvailableSeats @Html.DisplayFor(modelItem => item.AvailableSeats) / @Html.DisplayFor(modelItem => item.Seats)</li>
                                                            <li>@Html.DisplayFor(modelItem => item.SourceCity)</li>
                                                            <li>@Html.DisplayFor(modelItem => item.StartTime)</li>
                                                        </ol>
                                                    </div>
                                                </div>


                                                <div class="col-md-5">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 col-lg-4"><img class="image-osnova" src="@item.Driver.ProfileImage" alt="electric"></div>
                                                        <div class="col-md-8 col-sm-8 col-lg-8">
                                                            <h4>@Html.ActionLink($"{@item.Driver.FirstName} {@item.Driver.LastName}", "Profile", "Driver", new { id = @item.Driver.Username }, null)</h4>
                                                            <ol>
                                                                <li>
                                                                    <span class="star-total-rating glyphicon glyphicon-star"></span>
                                                                    <span>@Html.DisplayFor(model => item.Driver.TotalRating) @Html.DisplayNameFor(s => s.Driver.TimesRated) : @Html.DisplayFor(model => item.Driver.TimesRated)</span>
                                                                </li>
                                                                <li> @Html.DisplayFor(modelItem => item.Driver.CarMake) @Html.DisplayFor(modelItem => item.Driver.CarModel)</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "Ride", new { id=item.Id})">
                                        <div class="trip-no-seats">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="road">
                                                        <h3>@Html.DisplayFor(modelItem => item.SourceCity) - @Html.DisplayFor(modelItem => item.DestinationCity)</h3>
                                                        <p class="price">@Html.DisplayFor(modelItem => item.ContributionPerHead) BYR</p>
                                                        <ol>
                                                            <li>@Resources.Resource.AvailableSeats @Html.DisplayFor(modelItem => item.AvailableSeats) / @Html.DisplayFor(modelItem => item.Seats)</li>
                                                            <li>@Html.DisplayFor(modelItem => item.SourceCity)</li>
                                                            <li>@Html.DisplayFor(modelItem => item.StartTime)</li>
                                                        </ol>
                                                    </div>
                                                </div>


                                                <div class="col-md-5">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 col-lg-4"><img class="image-osnova" src="@item.Driver.ProfileImage" alt="electric"></div>
                                                        <div class="col-md-8 col-sm-8 col-lg-8">
                                                            <h4>@Html.ActionLink($"{@item.Driver.FirstName} {@item.Driver.LastName}", "Profile", "Driver", new { id = @item.Driver.Username }, null)</h4>
                                                            <ol>
                                                                <li>
                                                                    <span class="star-total-rating glyphicon glyphicon-star"></span>
                                                                    <span>@Html.DisplayFor(model => item.Driver.TotalRating) @Html.DisplayNameFor(s => s.Driver.TimesRated) : @Html.DisplayFor(model => item.Driver.TimesRated)</span>
                                                                </li>
                                                                <li> @Html.DisplayFor(modelItem => item.Driver.CarMake) @Html.DisplayFor(modelItem => item.Driver.CarModel)</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
    

