﻿@model IEnumerable<CarSharing.Web.Models.RideDetailViewModel>

@{
    ViewBag.Title = @Resources.Resource.MyRides;
}

<h1>@Resources.Resource.Active</h1>
@foreach (var ride in Model.Where(s => s.StartTime > DateTime.Now))
{
    <br>
    <div class="activ">
        <h4>@Html.DisplayFor(model => ride.SourceCity) - @Html.DisplayFor(model => ride.DestinationCity)</h4>
        <p class="price">@Html.DisplayFor(model => ride.ContributionPerHead)</p>
        <ol>
            <li>@Html.DisplayNameFor(model => model.AvailableSeats) @Html.DisplayFor(model => ride.AvailableSeats)/@Html.DisplayFor(model => ride.Seats)</li>
            <li>@Html.DisplayFor(model => ride.StartTime)</li>
        </ol>


        @foreach (var request in ride.Requests)
        {
            if (request.RequestStatus == true)
            {
                <div class=" companion">
                    <a href="@Url.Action("Profile", "Passenger", new {id = request.Passenger.Username})">
                        <img src="@request.Passenger.ProfileImage" alt="name">
                    </a>
                    <p>@Html.DisplayFor(model => request.Passenger.FirstName) @Html.DisplayFor(model => request.Passenger.LastName)</p>
                    <p>
                        <span class="star-total-rating glyphicon glyphicon-star"></span>
                        <span>@Html.DisplayFor(model => request.Passenger.TotalRating)</span>
                    </p>
                    <br/>
                    <div row>
                        <div class="col-md-12 ride-history-button ">
                            <button style="width: 100%" class="btn btn-info btn-in-ride">в поездке</button>
                        </div>

                    </div>

                </div>
            }

            if (request.RequestStatus == null)
            {
                <div class="companion">
                    <a href="@Url.Action("Profile", "Passenger", new {id = request.Passenger.Username})">
                        <img src="@request.Passenger.ProfileImage" alt="name">
                    </a>
                    <p>@Html.DisplayFor(model => request.Passenger.FirstName) @Html.DisplayFor(model => request.Passenger.LastName)</p>
                    <p>
                        <span class="star-total-rating glyphicon glyphicon-star"></span>
                        <span>@Html.DisplayFor(model => request.Passenger.TotalRating)</span>
                    </p>
                    <br/>
                    <div row>
                        <div class="col-md-6 ride-history-button ">
                            <a href="@Url.Action("ChangeRequestStatus", "Request", new {requestId = request.Id, requestStatus = true})">
                                <button style="width: 100%" class="btn btn-success btn-accept">Принять</button>

                            </a>
                        </div>
                        <div class="col-md-6 ride-history-button ">
                            <a href="@Url.Action("ChangeRequestStatus", "Request", new {requestId = request.Id, requestStatus = false})">
                                <button style="width: 100%" class="btn btn-danger">Отклонить</button>
                            </a>
                        </div>
                    </div>

                </div>
            }
        }

    </div>
}


<h1>@Resources.Resource.Completed</h1>
@foreach (var ride in Model.Where(s => s.StartTime < DateTime.Now))
{
    <br>
    <div class="activ">
        <h4>@Html.DisplayFor(model => ride.SourceCity) - @Html.DisplayFor(model => ride.DestinationCity)</h4>
        <p class="price">@Html.DisplayFor(model => ride.ContributionPerHead)</p>
        <ol>
            <li>@Html.DisplayNameFor(model => model.AvailableSeats) @Html.DisplayFor(model => ride.AvailableSeats)/@Html.DisplayFor(model => ride.Seats)</li>
            <li>@Html.DisplayFor(model => ride.StartTime)</li>
        </ol>


        @foreach (var request in ride.Requests)
        {
            if (request.RequestStatus == true)
            {
                <div class=" companion">
                    <a href="@Url.Action("Profile", "Passenger", new {id = request.Passenger.Username})">
                        <img src="@request.Passenger.ProfileImage" alt="name">
                    </a>
                    <p>@Html.DisplayFor(model => request.Passenger.FirstName) @Html.DisplayFor(model => request.Passenger.LastName)</p>
                    <p>
                        <span class="star-total-rating glyphicon glyphicon-star"></span>
                        <span>@Html.DisplayFor(model => request.Passenger.TotalRating)</span>
                    </p>
                    <br/>
                    <div class="row">

                        @if (request.Passenger.PassengerRating.FirstOrDefault(s => s.DriverId == ride.DriverId) != null)
                        {
                            <div class="col-md-12 ride-history-button ">
                                <button style="width: 100%" class="btn btn-warning btn-in-ride">Уже оценен</button>
                            </div>
                        }

                        else
                        {
                            <div class="col-md-12 ride-history-button ">
                                <a href="@Url.Action("Rate", "Driver", new {id = request.Passenger.Username})">
                                    <button style="width: 100%" class="btn btn-dark btn-in-ride">Оценить</button>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
}

