﻿@using CarSharing.Web.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CarSharing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Resource.Main, "Index", "Home")</li>
                    @if (User.IsInRole(Role.Passenger.ToString()))
                    {
                        <li>@Html.ActionLink(Resources.Resource.Rides, "Index", "Ride")</li>
                        <li>@Html.ActionLink(Resources.Resource.MyRequests, "Index", "Request")</li>
                    }
                    @if (User.IsInRole(Role.Driver.ToString()))
                    {
                        <li>@Html.ActionLink(Resources.Resource.Rides, "Index", "Ride")</li>
                        <li>@Html.ActionLink(Resources.Resource.MyRides, "Rides", "Ride")</li>
                        <li>@Html.ActionLink(Resources.Resource.CreateRide, "Create", "Ride")</li>
                    }
                    
                </ul>
                @Html.Partial("~/Views/_LoginPartial.cshtml");
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @using (Html.BeginForm("ChangeLanguage", "Guest"))
            {
                <select name="lang">
                    <option disabled selected>@Resources.Resource.ChooseLang</option>
                    <option value="ru">Русский</option>
                    <option value="en">English</option>
                </select>
                <input type="submit" name="@Resources.Resource.ChooseLang" value="@Resources.Resource.ChooseLang">
            }
            <p>&copy; @DateTime.Now.Year - CarSharing Service</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
