﻿@model CarSharing.Web.Models.RequestViewModel

@{
    ViewBag.Title = @Resources.Resource.Delete;
}

<h3>@Resources.Resource.DeleteThis</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="@Resources.Resource.Delete" class="btn btn-default" /> |
        </div>
    }
</div>
