﻿@using Resources
@model IEnumerable<CarSharing.Web.Models.RequestWithRideViewModel>

@{
    ViewBag.Title = Resource.MyRequests;
}

<h1>@Resource.MyRequests</h1>


<h1>@Resource.RequestsActive</h1>
<div class="osnova">
    <div class="col-md-12">

        @foreach (var item in Model)
        {
            if (item.Ride.StartTime > DateTime.Now)
            {
                <a href="@Url.Action("Details", "Ride", new {id = item.Ride.Id})">
                    <div class="trip">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="road">
                                    <h3>@Html.DisplayFor(modelItem => item.Ride.SourceCity) - @Html.DisplayFor(modelItem => item.Ride.DestinationCity)</h3>
                                    <p class="price">@Html.DisplayFor(modelItem => item.Ride.ContributionPerHead) BYR</p>
                                    <br/>

                                    <p class="price">
                                        @if (item.RequestStatus == true)
                                        {<button class="btn btn-success btn-status">@Resource.RequestStatusAccept</button>}
                                        @if (item.RequestStatus == false)
                                        {
                                            <button class="btn btn-danger btn-status">@Resource.RequestStatusReject</button>
                                        }
                                        @if (item.RequestStatus == null)
                                        {
                                            <button class="btn btn-warning btn-status">@Resource.RequestStatusConsideration</button>
                                        }
                                    </p>

                                    <ol>
                                        <li>@Html.DisplayFor(modelItem => item.Ride.StartTime)</li>
                                        <li>@Html.DisplayFor(modelItem => item.Ride.EndTime)</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <img class="image-request" src="@item.Ride.Driver.ProfileImage" alt="electric">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-lg-8 request-status">
                                        <h4>@Html.ActionLink($"{item.Ride.Driver.FirstName} {item.Ride.Driver.LastName}", "Profile", "Driver", new {id = item.Ride.Driver.Username}, null)</h4>
                                        <ol>
                                            <li>
                                                <span class="star-total-rating glyphicon glyphicon-star"></span>
                                                <span>@Html.DisplayFor(model => item.Ride.Driver.TotalRating) @Html.DisplayNameFor(s => s.Ride.Driver.TimesRated) : @Html.DisplayFor(model => item.Ride.Driver.TimesRated)</span>
                                            </li>
                                            <li> @Html.DisplayFor(modelItem => item.Ride.Driver.CarMake) @Html.DisplayFor(modelItem => item.Ride.Driver.CarModel)</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>

<h1>@Resource.RequestsCompleted</h1>
<div class="osnova">
    <div class="col-md-12">

        @foreach (var item in Model)
        {
            if (item.Ride.StartTime < DateTime.Now && item.RequestStatus == true)
            {
                <a href="@Url.Action("Details", "Ride", new {id = item.Id})">
                    <div class="trip">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="road">
                                    <h3>@Html.DisplayFor(modelItem => item.Ride.SourceCity) - @Html.DisplayFor(modelItem => item.Ride.SourceCity)</h3>
                                    <p class="price">@Html.DisplayFor(modelItem => item.Ride.ContributionPerHead) BYR</p>
                                    <br/>
                                       
                                    <p class="price">
                                        @if (item.Ride.Driver.DriverRating.FirstOrDefault(s => s.PassengerId == item.PassengerId) != null)
                                        {
                                            <button class="btn btn-light btn-status">@Resource.Rated</button>
                                        }
                                        else
                                        {
                                            <a class="ride-link" href="@Url.Action("Rate", "Passenger", new {id = item.Ride.Driver.Username})">
                                                <button class="btn btn-primary btn-status">@Resource.Rate</button>
                                            </a>
                                        }

                                    </p>

                                    <ol>
                                        <li>@Html.DisplayFor(modelItem => item.Ride.StartTime)</li>
                                        <li>@Html.DisplayFor(modelItem => item.Ride.EndTime)</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <img class="image-request" src="@item.Ride.Driver.ProfileImage" alt="electric">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-lg-8 request-status">
                                        <h4>@Html.ActionLink($"{item.Ride.Driver.FirstName} {item.Ride.Driver.LastName}", "Profile", "Driver", new {id = item.Ride.Driver.Username}, null)</h4>
                                        <ol>
                                            <li>
                                                <span class="star-total-rating glyphicon glyphicon-star"></span>
                                                <span>@Html.DisplayFor(model => item.Ride.Driver.TotalRating) @Html.DisplayNameFor(s => s.Ride.Driver.TimesRated) : @Html.DisplayFor(model => item.Ride.Driver.TimesRated)</span>
                                            </li>
                                            <li> @Html.DisplayFor(modelItem => item.Ride.Driver.CarMake) @Html.DisplayFor(modelItem => item.Ride.Driver.CarModel)</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>



