﻿@model CarSharing.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = @Resources.Resource.ForgotPassword;
}

<h2>@Resources.Resource.ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Guest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Resources.Resource.EnterEmail</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="text-success">
        @ViewBag.Message
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        @InputExtensions.Hidden(Html, "AccountType", @ViewBag.Code)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Resources.Resource.Submit"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
