﻿
@{
    ViewBag.Title = "Login";
}


<div class="row">
    <div class="col-md-6">
        <h2>Passenger</h2>
        <p>
            Find everything you need to track your success on the road.
        </p>
        <p>@Html.ActionLink("Sign In", "LoginPassenger", null, new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-6">
        <h2>Driver</h2>
        <p>Create your rides, set options, review rides history, and more..</p>
        <p>@Html.ActionLink("Sign In", "LoginDriver", null, new { @class = "btn btn-default" })</p>
    </div>
</div>