﻿@model CarSharing.Web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = @Resources.Resource.ResetPassword;
}

<h2>@Resources.Resource.ResetPassword</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.EditorFor(model => model.AccountType, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resources.Resource.Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

