﻿
@{
    ViewBag.Title = @Resources.Resource.UpdateProfileImage;
}

<h2>@Resources.Resource.UpdateProfileImage</h2>

<div class="panel panel-body" style="min-height:256px">

    <div class="col-md-9">

        <div class="col-md-4">

                @using (Html.BeginForm("UpdateProfileImage", "Passenger", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="file" name="file" id="imageBrowes" />
                    <input type="submit" value="OK" />
                }
            <hr />

            <div class="image-preview-block">
                <div id="imgPreview" class="thumbnail " style="display:none">
                    <img class="img-circle img-preview" id="targetImg" />
                    <div class="caption">
                        <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                        <span id="description"></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
                    
</div>

<style>
    .thumbnail img {
        height: 300px;
    }

    .image-preview-block {
        height: 300px;
        width: 300px;
    }

    .img-preview {
        height: 300px;
        width: 300px;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

            $(document).ready(function () {

                $("#imageBrowes").change(function () {

                    var File = this.files;

                    if (File && File[0]) {
                        ReadImage(File[0]);
                    }

                })


            })


        var ReadImage = function (file) {

            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {
                image.src = _file.target.result;
                image.onload = function () {

                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "KB";

                    $("#targetImg").attr('src', _file.target.result);
                    $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                    $("#imgPreview").show();

                }

            }

        }

        var ClearPreview = function () {
            $("#imageBrowes").val('');
            $("#description").text('');
            $("#imgPreview").hide();

        }

</script>