﻿
@model CarSharing.Web.Models.DriverProfileViewModel

@{
    ViewBag.Title = @Resources.Resource.Profile;
}

<div>
    <div class="row profile-block">
        <div class="col-md-4">
            <div class="profile-table">
                <div class="profile-table-avatar">
                <div class="profile-avatar-block">
                    <div class="profile-avatar">
                        <img src="@Model.ProfileImage"/>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-table">
                <div class="profile-username">
                    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                </div>
                <div class="profile-info">
                    <table>
                        <tbody>
                        <tr>
                            <td class="profile-info-i-td">@Html.DisplayNameFor(model => model.Username)</td>
                            <td>@Html.DisplayFor(model => model.Username)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ContactNumber)</td>
                            <td>@Html.DisplayFor(model => model.ContactNumber)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Years)</td>
                            <td>@Html.DisplayFor(model => model.Years)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CreatedOn)</td>
                            <td>@Html.DisplayFor(model => model.CreatedOn)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CarMake)</td>
                            <td>@Html.DisplayFor(model => model.CarMake)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CarModel)</td>
                            <td>@Html.DisplayFor(model => model.CarModel)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Description)</td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="profile-rating-total">
                        @if (Model.TimesRated == 0)
                        {
                            <span>----</span>
                        }
                        else
                        {
                            <div class="profile-rating-total-star">
                                <span class="star-total-rating glyphicon glyphicon-star"></span>
                                <span>@Html.DisplayFor(model => model.TotalRating)</span>
                            </div>
                            <div class="profile-rating-total-rating">
                                <span>@Html.DisplayNameFor(model => model.TimesRated)</span>
                                <span>@Html.DisplayFor(model => model.TimesRated)</span>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.DriverRating.Any())
    {
        <div class="row">
            <div class="col-md-12 profile-review">
                <h2>@Resources.Resource.Reviews</h2>

                @foreach (var item in Model.DriverRating)
                {

                    <div class="review-block">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-2 rating-avatar-block">
                                <div class="rating-avatar">
                                    <a href="@Url.Action("Profile", "Passenger", new {id = item.Passenger.Username})">
                                        <img src="@Html.DisplayFor(modelItem => item.Passenger.ProfileImage)" class="img-circle img-rating-profile">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-7 some-class">
                                <div class="review-block-rate">
                                    <div class="review-block-name">@Html.DisplayFor(modelItem => item.Passenger.FirstName) @Html.DisplayFor(modelItem => item.Passenger.LastName)</div>
                                    <div class="star-wrap">
                                        <span class="stars">
                                            <span title="@Html.DisplayFor(modelItem => item.Rating)" />
                                        </span>
                                    </div>
                                </div>
                                <div class="review-block-description">@Html.DisplayFor(modelItem => item.Comment)</div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="review-block-date">@Html.DisplayFor(modelItem => item.CreatedOn)</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
