﻿    @using CarSharing.Web.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Guest", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right dropdown">
            <li class="dropdown">
                @if (User.IsInRole(Role.Passenger.ToString()))
                {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink(Resources.Resource.MyProfile, "Profile", "Passenger", routeValues: new { id = User.Identity.Name }, htmlAttributes: new { title = "Manage" })</li>
                        <li>@Html.ActionLink(Resources.Resource.EditProfile, "Edit", "Passenger", routeValues: new { id = User.Identity.Name }, htmlAttributes: null)</li>
                        <li>@Html.ActionLink(Resources.Resource.UpdateProfileImage, "UpdateProfileImage", "Passenger", routeValues: new { id = User.Identity.Name }, htmlAttributes: null)</li>
                        <li>@Html.ActionLink(Resources.Resource.MyRequests, "Index", "Request")</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.SignOut</a></li>
                    </ul>
                }
                @if (User.IsInRole(Role.Driver.ToString()))
                {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink(Resources.Resource.MyProfile, "Profile", "Driver", routeValues: new { id = User.Identity.Name }, htmlAttributes: new { title = "Manage" })</li>
                        <li>@Html.ActionLink(Resources.Resource.EditProfile, "Edit", "Driver", routeValues: new { id = User.Identity.Name }, htmlAttributes: null)</li>
                        <li>@Html.ActionLink(Resources.Resource.UpdateProfileImage, "UpdateProfileImage", "Driver", routeValues: new { id = User.Identity.Name }, htmlAttributes: null)</li>
                        <li>@Html.ActionLink(Resources.Resource.MyRides, "Rides", "Ride")</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.SignOut</a></li>
                    </ul>
                }
            </li>
        </ul>

    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(Resources.Resource.SignUpPassenger, "RegisterPassenger", "Guest", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink(Resources.Resource.SignUpDriver, "RegisterDriver", "Guest", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink(Resources.Resource.SignInPassenger, "LoginPassenger", "Guest", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink(Resources.Resource.SignInDriver, "LoginDriver", "Guest", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}
